<!DOCTYPE html>
<html>

<head>
    <%- include('./style'); %>
        <title>
            <%= title %>
        </title>
        <div class="topnav">
            <a href="/home">My Blog</a>
            <a class="active" href="/blogList">List Blogs</a>
            <a href="/blogAdd">Add Blogs</a>
        </div>


</head>

<body>
    <h1><span class="tab"> </span>
        <%= title %>
    </h1>
    <p><span class="tab2"> </span></p>
    <p><span class="tab1"> </span><%- include('./partials/blogContainer'); %></p>

</body>

</html>