<!doctype html>
<html ng-app="blogApp">
<link rel="stylesheet" type="text/css" href="style.css">

<head>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-route.min.js"></script>

</head>

<body>

  <div class="topnav" id="navbar" ng-controller="NavbarController">
    <a href="#!/home" id="homeTab">My Blog</a>
    <a href="#!/blogList" id="blogListTab">List Blogs</a>
    <a href="#!/blogAdd" id="blogAddTab">Add Blogs</a>
    <a ng-if="!currentUser" href="#!/Login" id="Login">Login</a>
    <a ng-if="currentUser" id="Logout" ng-click="logout()" id="Logout">({{ currentUser.email }}) Logout</a>
  </div>

  <script type="text/ng-template" id="pages/home.html">
        <p></p>
        <h2>{{vm.pageHeader.title}}</h2>
        <h4>{{vm.message}}</h4>
        <h4> {{vm.name}}</h4>
    </script>

  <script type="text/ng-template" id="pages/blogList.html">
      <div style="padding-top: 20px;">
          <div ng-repeat="blog in vm.blogs" class="blogListing">
              <h2>
                  <span class="author" id="AuthorName">{{ blog.author }}</span>
                  <span class="date">{{ blog.date }}</span>
              </h2>
              <div class="innerContainer">
                  <h3>{{ blog.blogTitle }}</h3>
                  <p>{{ blog.blogText }}</p>
              </div>
              <p align="right" ng-if="currentUser && currentUser.email === blog.author">
                  <a ng-href="#!/blogEdit/{{ blog._id }}"> <button> <i class="material-icons">edit</i> </button></a>
                  <a href="#!/blogDelete/{{blog._id}}"><button><i class="material-icons">delete</i></button></a>
              </p>
          </div>
      </div>
  </script>


  <script type="text/ng-template" id="pages/blogAdd.html">
    <p>
        <div class="blogAdd">
            <form class="blogAddForm" method="POST" ng-submit="submit()">
                <label for="Author">Author</label><br>
                <input class="username" type="text" id="Author" ng-model= "author" name="Author" autocomplete="off"><br>
                
                <label for="bTitle">Blog title</label><br>
                <input class="username" type="text" id="bTitle" ng-model="bTitle" name="bTitle" autocomplete="off"><br>
                
                <label for="bText">Blog Text</label><br>
                <textarea class="blogText" id="bText" ng-model="bText" name="bText"></textarea><br>
                
                <input class="submit" type="submit" id="submit">
            </form>
        </div>
    </p>
</script>

  <script type="text/ng-template" id="pages/blogEdit.html">
            <div style="padding-top: 20px;">

                <div class="blogAdd">
                    <form class="blogAddForm" method="POST" ng-submit="editBlog()">
                        <label for="Author">Author</label><br>
                        <input class="username" type="text" id="Author" ng-model="vm.blog.author" name="Author" autocomplete="off"><br>
                        
                        <label for="bTitle">Blog title</label><br>
                        <input class="username" type="text" id="bTitle" ng-model="vm.blog.blogTitle" name="bTitle" autocomplete="off"><br>
                        
                        <label for="bText">Blog Text</label><br>
                        <textarea class="blogText" id="bText" ng-model="vm.blog.blogText" name="bText"></textarea><br>
                        
                        <a class="cancel" href="#!/blogList" role="button">Cancel</a>
                        <input class="submit" type="submit" value="Save" style="font-family: Arial, Helvetica, sans-serif;">
                    </form>
                </div>
        </script>

  <script type="text/ng-template" id="pages/blogDelete.html">
            <div style="padding-top: 20px;">
                <div class="blogAdd">
                    <form class="blogAddForm" method="POST" ng-submit="deleteBlog()">
                        <label for="Author">Author</label><br>
                        <input class="username" type="text" id="Author" name="Author" autocomplete="off" readonly ng-model="vm.blog.author"><br>
                        
                        <label for="bTitle">Blog title</label><br>
                        <input class="username" type="text" id="bTitle" name="bTitle" autocomplete="off" readonly ng-model="vm.blog.blogTitle"><br>
                        
                        <label for="bText">Blog Text</label><br>
                        <textarea class="blogText" id="bText" name="bText" readonly>{{vm.blog.blogText}}</textarea><br>
                        
                        <a class="cancel" href="#!/blogList" role="button">Cancel</a>
                        <input class="submit" type="submit" value="Delete" style="font-family: Arial, Helvetica, sans-serif;">
                    </form>
                </div>
        </script>

  <script type="text/ng-template" id="pages/Login.html">
            <div class="container">
                <page-header content="vm.pageHeader"></page-header>
              
                <div class="row">
                  <div class="col-md-6 col-sm-8">
                    <p class="lead">Not a member? Please <a href="#!/Register">register</a> first.</p>
                    <form ng-submit="vm.onSubmit()">
                      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
                      </div>
                      <button type="submit" class="btn btn-default">Sign in!</button>
                    </form>
                  </div>
                </div>
              
                <footer-generic></footer-generic>
              </div>
        </script>

  <script type="text/ng-template" id="pages/Register.html">
            <div class="container">
                <page-header content="vm.pageHeader"></page-header>
              
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="lead">Already a member? Please <a href="/#!/login">log in</a> instead.</p>
                    <form ng-submit="vm.onSubmit()">
                      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                      <div class="form-group">
                        <label for="name">Full name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
                      </div>
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
                      </div>
                      <button type="submit" class="btn btn-default">Register!</button>
                    </form>
                  </div>
                </div>
              
                <footer-generic></footer-generic>
              </div>
        </script>

  <div ng-view></div>
  <!-- <script src="/js/your-custom-script.js"></script> -->
  <script src="bloggerApp.js"></script>




</body>


</html>